# Sanity CMS Konfigurace
PUBLIC_SANITY_PROJECT_ID="your-project-id"
PUBLIC_SANITY_DATASET="production"

# Čtecí token pro náhled nepublikovaných konceptů (Viewer role v Sanity)
SANITY_API_READ_TOKEN=""

# URL adresa vnořeného Sanity Studia
PUBLIC_SANITY_STUDIO_URL="http://localhost:4321/admin"
